<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.github.incubus.bocnet-extension</string>
       <key>Developer Identifier</key>
       <string>F44ZN9QQ59</string>
       <key>CFBundleVersion</key>
       <string>0.0.6</string>
       <key>CFBundleShortVersionString</key>
       <string>0.0.6</string>
       <key>URL</key>
       <string>http://cloud.github.com/downloads/incubus/bocnet-extension/bocnet-extension-0.0.6.safariextz</string>
     </dict>
   </array>
</dict>
</plist>